{% extends 'blog/base_clean.html' %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
<div id="appCapsule" class="pt-0">

  <div class="login-form mt-1">
      <div class="section">
          <img src="{% static 'img/sample/photo/vector4.png' %}" alt="image" class="form-image">
      </div>
      <div class="section mt-1">
          <h1>EGUN 24</h1>
          <h4>약국 통합 솔루션</h4>
      </div>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
      <div class="section mt-1 mb-5">
          <form action="app-pages.html">
              <div class="form-group boxed">
                  <div class="input-wrapper">
                    {{ form.login|add_class:'form-control' }}
                      <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div>

              <div class="form-group boxed">
                  <div class="input-wrapper">
                    {{ form.password|add_class:'form-control' }}
                    <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div>

              <div class="form-links mt-2">
                  <div>
                      <a href="{{ signup_url }}">가입하기</a>
                  </div>
                  <div><a href="{% url 'account_reset_password' %}" class="text-muted">비밀번호 찾기</a></div>
              </div>

              <div class="form-button-group">
                  <button type="submit" class="btn btn-primary btn-block btn-lg">로그인하기</button>
              </div>
          </form>
      </div>
  </div>

</div>

<!-- <h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->
{% endblock %}