{% extends 'blog/base_clean.html' %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
<div id="appCapsule">

  <div class="login-form">
      <div class="section">
          <h1>회원가입</h1>
      </div>
      <div class="section mt-2 mb-5">
          <form method="post">
            {% csrf_token %}
              <!-- <div class="form-group boxed">
                  <div class="input-wrapper">
                      <input type="email" class="form-control" id="name1" placeholder="Full name">
                      <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div> -->

              <div class="form-group boxed">
                  <div class="input-wrapper">
                      {{ form.email|add_class:'form-control' }}
                      <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div>

              <div class="form-group boxed">
                  <div class="input-wrapper">
                    {{ form.password1|add_class:'form-control' }}
                    <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div>

              <div class="form-group boxed">
                  <div class="input-wrapper">
                    {{ form.password2|add_class:'form-control' }}
                      <i class="clear-input">
                          <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                      </i>
                  </div>
              </div>

              <div class=" mt-1 text-left">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customChecka1">
                      <label class="custom-control-label text-muted" for="customChecka1">약관에 동의합니다. <a href="javascript:;">약관보기</a></label>
                  </div>

              </div>

              <div class="form-button-group">
                  <button type="submit" class="btn btn-primary btn-block btn-lg">가입하기</button>
              </div>

          </form>
      </div>
  </div>
</div>

{% endblock %}