{% extends 'blog/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div id="appCapsule">
        <div class="mt-3 mb-3">
            <div class="card">
                <img src="{% static 'img/sample/photo/wide4.jpg' %}" class="card-img-top" alt="image">
                <div class="card-body">
                    <!-- <h6 class="card-subtitle">Discover</h6> -->
                    <h5 class="card-title">이벤트</h5>
                    <p class="card-text">
                        이벤트 프로모션 진행
                    </p>
                    <!-- <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                        Preview
                    </a> -->
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/sample/photo/wide4.jpg' %}" class="card-img-top" alt="image">
                <div class="card-body">
                    <!-- <h6 class="card-subtitle">Discover</h6> -->
                    <h5 class="card-title">약튜버</h5>
                    <p class="card-text">
                        새로운 약사님의 유튜버에 대한 정보를 업데이트
                    </p>
                    <!-- <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                        Preview
                    </a> -->
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/sample/photo/wide4.jpg' %}" class="card-img-top" alt="image">
                <div class="card-body">
                    <!-- <h6 class="card-subtitle">Discover</h6> -->
                    <h5 class="card-title">후기제품</h5>
                    <p class="card-text">
                        영양제 및 새로운 제품의 후기 정보
                    </p>
                    <!-- <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                        Preview
                    </a> -->
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/sample/photo/wide4.jpg' %}" class="card-img-top" alt="image">
                <div class="card-body">
                    <!-- <h6 class="card-subtitle">Discover</h6> -->
                    <h5 class="card-title">친절한 약사님</h5>
                    <p class="card-text">
                        친절하게 상담하신 약사님 소개
                    </p>
                    <!-- <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                        Preview
                    </a> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}